In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
Data_object = DataFrame(np.random.rand(36).reshape(6,6))
Data_object

          0         1         2         3         4         5
0  0.149788  0.466775  0.621831  0.640727  0.512428  0.494950
1  0.069972  0.109399  0.314025  0.839162  0.180038  0.294814
2  0.424771  0.192084  0.367325  0.675757  0.990773  0.933277
3  0.357301  0.425118  0.150851  0.259746  0.578944  0.301580
4  0.340758  0.955688  0.602627  0.198884  0.635171  0.961295
5  0.334370  0.406469  0.897467  0.066790  0.269123  0.198093

In [6]:
Data_object.filter(items=[3,5], axis=1)

SyntaxError: invalid syntax (<ipython-input-6-f89aee7f17c2>, line 1)